
aside.col-md-3.hidden-print > div > ul > li > ul {
    width: 263px;
    list-style-type: none;
}

aside.col-md-3.hidden-print > div > ul {
    width: 263px;
    list-style-type: none;
}
aside.col-md-3.hidden-print {
    position: absolute;
    top: 80px;
    left: 80px;
    color: #b3b3b3;
}

.affix {
    position: fixed;
    top: 20px;
    width: 213px;
}
@media (min-width: 1200px) {
    .affix {
        width: 263px;
    }         
}

.nav a {
    color: #808080;
}

.nav .active a {
    font-weight: bold;
    color: #268bd2;
}
.nav .nav {
    display: none;
}
.nav .active .nav {
    display: block;
}
.nav .nav a {
    font-weight: normal;
    font-size: .85em;
    color: #808080;
}
.nav .nav span {
    margin: 0 5px 0 2px;
}
.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
    color: #268bd2;
    font-weight: bold;
    padding-left: 30px;
    border-left: 3px solid #268bd2;
}
.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
    display: none;
}